{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<main class="container-fluid my-5">

    <div class="row my-5">
        <div class="col-12"><h3 class="text-center">Nos 15 derniers produits</h3></div>
    </div>
    
    <div class="row">
        {% for product in products %}
        <div class="col-3">
    <div class="card">
        <div class="card-image">
            <img src="{{asset('img/product/' ~ product.image )}}" alt="{{product.image}}">
        </div>
        <div class="card-body">
            <div class="card-title"><h4 class="fw-bold text-uppercase">{{product.title}}</h4></div>
            <div class="card-text"><p class="text-end">Prix : {{product.price}}€</p></div>
        </div>
        <div class="card-footer">
            <a href="{{ path('product-detail',{'id': product.id} ) }}" class="btn btn-info">Détail</a>
            {% if product.getReservationText != '' %}
            <p class="btn btn-danger">Déjà Pris</p>
            {% endif %}            
        </div>
    </div>
        </div>
        {% endfor %}
    </div>
    
    </main>

{% endblock %}
